$dark-blue: #0A2B40;
$transition-duration: 0.5s;

#lobbySelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: $transition-duration;
}

#createLobbySection, #joinLobbySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: $transition-duration;
    padding: 0px;

    #createName, #joinName, #joinLobbyID {
        border-radius: 30px;
        border: 2px solid $dark-blue;
        width: 100%;
        margin-bottom: 16px;
        transition: $transition-duration;
        padding: 8px 10px;
        margin: 16px 0px;
    }

}

#lobbyIDContainer {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

#responseOptions {
    display: flex;
    justify-content: center;
    align-items: center;

    #primaryBtn {
        margin: 16px 0px 0px 0px;

    }
}