// Import font
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Julius+Sans+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Importing custom code
@import "./partials/variables";
@import "./partials/header";
@import "./partials/icons";
@import "./partials/buttons";
@import "./partials/dialogues";

// Importing bootstrap framework
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";

$dark-blue: #0A2B40;
$light-blue: #D1EDFF;
$headerFont: "PT Serif", serif;

// Overriding fonts from Bootstrap
h1, h2, h3, h4, h5 {
    font-family: $headerFont;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 14px;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

// applying color gradient to body 
body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(105,158,192,1) 100%); 
}

// Custom styling
// Added a custom container because bootstraps container is a little difficult to manage
.customContainer {
    margin: 32px 32px 32px 32px;
}

.couplesContainer {
    min-height: 80vh;
    background-image: url('../../images/illustrations/Par_Illustration_stor.svg');
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: bottom; 
    background-size: 300px 200px;
}

// // custom readmore button, primarily used on the home page
// .btn-readmore {
//     width: 150px;
//     border-radius: 30px;
//     background-color: $dark-blue;
//     border: none;
//     color: $light-blue;
//     padding: 0px 5px;
//     font-family: $headerFont;
// }

// // Custom button for the page
// .primary-btn {
//     background-color: $dark-blue;
//     color: $light-blue;
//     border: 2px solid $dark-blue;
//     padding: 15px 30px;
//     border-radius: 30px;
//     margin-bottom: 15px;
//     &:hover{
//         transition: 0.5s;
//         background-color: $light-blue;
//         color: $dark-blue
//     }
// }

// Cards for the categories
.custom-card {
    font-size: 14px;
    color: $dark-blue;
    text-decoration: none;
    background-color: $light-blue;
    padding: 16px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    img {
        width: 146px;
    }

    div {
        h2 {
            margin: 0;
            font-size: 18px;
        }
    }
}

// .custom-card:hover {
//     box-shadow: 3px 3px 4px 1px rgb(205, 205, 205);
//     transition: 0.5s;
// }

// Categories container for the...categories see kategorier.html line 40
.categoriesContainer {
    display: flex;
    justify-content: space-between;
}

.categoryBox {
    background-color: $dark-blue;
    color: $light-blue;
    border: 2px solid $dark-blue;
    border-radius: 15px;
    font-family: $headerFont;
    font-size: 16px;
    padding: 5px 15px;
}

// Styling for when a category is locked
.lockedCategoryDisplay {
    color: #D9D9D9;
    border: 2px solid #D9D9D9;
    background-color: white;
    position: relative;
}

.lockIcon {
    position: absolute;
    top: -9px;
    right: 0;
}

// Styling for exercises
.exercise {
    background-color: $light-blue;
    color: $dark-blue;
    width: 100%;
    text-decoration: none;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.lockedExerciseDisplay {
    background-color: #E9F0F4;
    color: #0A2B4066;
}

.coupleIllustration {
    max-width: 100%;;
}

// Responsiveness for the container
@media (min-width: 768px){
    .customContainer {
        margin: 32px 32px 32px 32px;
    }
}

@media(min-width: 1000px){
    .customContainer {
        margin: 32px 64px 32px 64px;
    }
}

@media(min-width: 1200px){
    .customContainer {
        margin: 32px 64px 32px 64px;
    }
}